.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .text{
    font-size: 32px;
    font-weight: 600;
    color: #4F4F4F;
  }
  .view{
    font-size: 28px;
    color: #379DD5;
  }
}
.detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .detailItem{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
  }
  .text{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 20px;
  }
}
.intro{
  font-size: 20px;
  color: #4F4F4F;
}